* text=auto
gradlew text eol=lf
*.bat text eol=crlf
*.kt text eol=lf
*.kts text eol=lf
*.lockfile text eol=lf
*.xml text eol=lf
protocol/*.md text eol=lf
protocol/test-vectors/*.json text eol=lf
security/osv-scanner.json text eol=lf
*.proto text eol=lf
*.yml text eol=lf
